In [1]:
# Import Dependencies 
import numpy as np
import pandas as pd
import os
import requests
import json
import spotipy
from spotipy.oauth2 import SpotifyClientCredentials
import spotipy.util as util

In [3]:
data = pd.read_csv("Top 200 May 20.csv")
data.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Note that these figures are generated using a formula that protects against any artificial inflation of chart positions.,Unnamed: 4
0,Position,Track Name,Artist,Streams,URL
1,1,Blinding Lights,The Weeknd,5444886,https://open.spotify.com/track/0VjIjW4GlUZAMYd...
2,2,ROCKSTAR (feat. Roddy Ricch),DaBaby,5154907,https://open.spotify.com/track/7ytR5pFWmSjzHJI...
3,3,Roses - Imanbek Remix,SAINt JHN,4689335,https://open.spotify.com/track/24Yi9hE78yPEbZ4...
4,4,Toosie Slide,Drake,4033011,https://open.spotify.com/track/466cKvZn1j45Ipx...

In [ ]:
# Data Clean

In [11]:
# Data Clean
clean1 = data.drop(["Unnamed: 4" ], axis = 1)
clean1.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Note that these figures are generated using a formula that protects against any artificial inflation of chart positions.
0,Position,Track Name,Artist,Streams
1,1,Blinding Lights,The Weeknd,5444886
2,2,ROCKSTAR (feat. Roddy Ricch),DaBaby,5154907
3,3,Roses - Imanbek Remix,SAINt JHN,4689335
4,4,Toosie Slide,Drake,4033011

In [16]:
# Fix Column Headers
new_header = clean1.rename(columns={'Unnamed: 0': 'Position', 'Unnamed: 1': 'Track Name', 'Unnamed: 2': 'Artist', 'Note that these figures are generated using a formula that protects against any artificial inflation of chart positions.': 'Streams'})
new_header.head()

   Position                    Track Name      Artist  Streams
0  Position                    Track Name      Artist  Streams
1         1               Blinding Lights  The Weeknd  5444886
2         2  ROCKSTAR (feat. Roddy Ricch)      DaBaby  5154907
3         3         Roses - Imanbek Remix   SAINt JHN  4689335
4         4                  Toosie Slide       Drake  4033011